#items-column-873357 .item-handle {
    background-color: #e4e4e4;
}

#items-column-873358 .item-handle {
    background-color: #ff7e9a;
}

#items-column-873359 .item-handle {
    background-color: #00c464;
}

#items-column-873360 .item-handle {
    background-color: #8bace6;
}

#items-column-873361 .item-handle {
    background-color: #000;
}

#items-column-873362 .item-handle {
    background-color: #000;
}

#items-column-873363 .item-handle {
    background-color: #353535;
}
