#col-task_873357 .task-handle {
    background-color: #e4e4e4;
}

#col-task_873358 .task-handle {
    background-color: #ff7e9a;
}

#col-task_873359 .task-handle {
    background-color: #00c464;
}

#col-task_873360 .task-handle {
    background-color: #8bace6;
}

#col-task_873363 .task-handle {
    background-color: #353535;
}

