body {
    font-family: Arial,sans-serif;         
}

/*распорка*/
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/*блок кнопок*/
.header {
    background-color: #d8dedf;
    height: 41px;
    width: auto;
}

a.btn {
    color: transparent;
    float: left;
    height: 29px;
    padding: 6px 7px 6px;
    text-align: center;
    width: 29px;
}
a.btn:hover { background: #cccccc; }
a.btn:active { background: #999999; }

a.filter {
    float: right;
}

.state, .col-task, .task-group {
    width: 239px;
    min-width: 239px !important;
}

/*блок статусов*/
.states {    
    background-color: transparent;    
    box-shadow: 0px -3px 0px #cfd9db, 0px 2px 5px rgba(0,0,0,0.15);
    height: 35px;  
    font-size: 0px;
    top: 51px;
    width: auto;
    white-space: nowrap;
}

/*статус*/
.state { 
    border-right: 1px solid #cfd9db;
    cursor: default;
    display: inline-block;   
    height: 100%;  
}

.state-name {
    color: #6d6b6b;
    display: inline-block;
    font-size: 14px;       
    margin: 10px 15px;
    text-align: left;
}

.state:last-child {
    border-right: 0px;
}

/*блок задач*/
.tasks-board {
    background-color: white;
    height: 100%;
}

.tasks-row {
    background-color: transparent;
    display: table-row;
    font-size: 100%;
    vertical-align: baseline;
}

.tasks { 
    display: table;
    height: 100%;
    margin-top: 3px;
    text-align: left;
}

/*колонка задач*/
.fake-col-task {
    display: table-cell;
    height: 100%;
    min-width: 0px !important;
    width: 0px;
}

.col-task { 
    border-right: 1px solid #cfd9db;
    color: #6d6b6b;
    cursor: default;
    display: table-cell;    
    text-align: left;
    vertical-align: top;
}

.col-task:last-child {
    border-right: 0px;
}

.task-group {
    cursor: auto;
    display: table;
    font-size: 0px;
    height: 100%;
    position: relative;
    text-align: left;
    vertical-align: baseline;
}

.task-list {    
    display: table-cell;
    font-size: 100%;
    height: 100%;
    min-height: 132px;
    text-align: left;
    vertical-align: top;
}

.task, .task-placeholder {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 217px; 
}

.task {
    background-color: #ffffff;
    border: 0px;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    color: #6b6a6a;
    cursor: pointer;
    font-size: 11px;
    height: auto;
    min-height: 105px;    
    position: relative;    
    vertical-align: top;
}

.task:hover { box-shadow: 0px 0px 0px #959ba3, 0px 5px 5px rgba(0,0,0,0.15); }

.task-placeholder {
    background-color: #e4e4e4;    
    height: 105px; 
}

.task-body {
    margin: 5px;
}

.task-text {
    margin-bottom: 5px;    
    text-align: left;
}
.task-text a {    
    color: #333333;
    margin-bottom: 5px;
    text-decoration: none;
}
.task-text a:hover { color: #476fb6; }
.task-text a:active { color: #476fb6; }

.task-executor {
    margin-bottom: 5px;
    margin-top: 5px;
}

.task-executor img {
    border: 1px solid lightgray;
    height: 50px;
}

.task-priority {
    float: left;
}

.task-plan-date {
    float: right;
}

.task-handle {
    background-color: #e4e4e4;
    height: 3px;
    margin: 0px;
    padding: 0px;
}

.task-ind {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 7px;
    border-bottom: 3px dashed #ffa6ba;
}

.task-ind-high {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 7px;
    border-bottom: 3px dashed #ff0037;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
    width: 200px;
    background-color: #f5f5f5;
    font-size: 14px;
}

.top-level-menu {
    padding: 10px 15px;    
}

.view {
    background-color: #6b6a6a;
    list-style-type: circle
}

.level-menu {
}